*{
    margin: 0;
    padding: 0;
}
.parent{

    width: 100%;
    height: 100vh;
    background-color: azure;
.
    
}
.img1{
    width: 100vw;
    height: 100vh;
}
img{
    width: 50vw;
    height: 100vh;
}
.list{
    position: absolute;
    top: 5%;
    left: 70%;
}
a{
    padding: 20px;
    text-decoration: none;
    color: azure;
    font-size: 20px;
    border-radius: 30px;
    

}
.sunny{
    position: absolute;
    top: 5%;
    right: 85%;
    color: azure;
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: .5s;

}
.creative{
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 50px;
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,50%);

}
.head1{
    text-align: center;
    padding-top: 30%;
    font-size: 30px;

}
p{
    
    width: 60%;
    padding-left: 25%;
    padding-top: 5%;
    font-size: 20px;
}
.head3{
    text-align: center;
    padding-top: 30%;
    font-size: 30px;



}
.child7{
    align-items: center;
}
.child4{
    align-items: center;
}
.head4{
    width: 30%;
    padding-left: 35%;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.head2{
    width: 30%;
    padding-left: 35%;
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
}
.profile{
     padding: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;


}
.person>img{
    padding: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;


}
.person{
    width: 14rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.grid2{
    display: grid;
    grid-template-columns: repeat(4,25%);

}
.ph1,.ph2,.ph3,.ph4{
    width: 100%;
    height: 100%;
}
.last{
    background-color: rgb(102, 206, 171);
    padding: 100px;
}
.head0{
    text-align: center;
}
.last1{
    padding-left: 38%;
    color: black;
    padding-top: 5%;
}
a{
    color: rgb(234, 234, 234);
}
.child5{
    position: relative;
    align-items: center;
}
.dhoni{
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 60%;
    left: 35%;

}

    
.kholi{
    position: absolute;
    top: 65%;
    left: 5%;
    
}
.material-symbols-outlined {
    position: absolute;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    line-height: 1;
    rotate: 90deg;
    color: white;
    top: 45%;
    left: 47%;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.emp{
    padding: 80px;
    text-align: center;
    color: rgb(116, 97, 97);
}
h6{
    font-size: 30px;
}
.add{
    width: 80%;
    font-size: 18px;
    padding: 15px;
    align-items: center;
}
.child6{
    position: relative;
}











