*{
    margin: 0%;
    padding: 0%;
}
.nav{
    background-color: rgb(0, 133, 133);
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    color: aqua;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 0px 20px;
}
.left{
    display: flex;
    flex-wrap: wrap;
}
.img{
    flex-wrap: wrap;
}
#img1{
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;


}
#img2{
    flex-wrap: wrap;
    height:60%;
    width: 30%;
    position: absolute;
    top: 30%;
    right: 3%;
    border-radius: 5%;
    box-shadow: 10px 10px 10px;
}
#img3{
 
    
    flex-wrap: wrap;
    height:100%;
    width: 49.5%;
   
    
  


}
#img4{
  
    flex-wrap: wrap;
    height:100%;
    width: 49.5%;
   

    

 

}
.img1{
    padding: 50px 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.son{
    justify-content: center;
    display: flex;
    padding: 20px 20px;
    background-color: rgb(245, 153, 34);
    font-size: 30px;
}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.card{
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    border: 3px solid red;
    box-shadow: 10px 10px 10px;
}
.dad{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.mom{
    height:50%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

